.skills_section {
    margin: 50px;
    padding: 40px;
}

.text_top {
    text-align: center;
    font-size: 25px;
}

.text_top p {
    font-size: 24px;
    color: gray;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.child {
    margin-top: 0px;
    width: 40%;
    max-width: 40%;
}

iconify-icon {
    font-size: 40px;
    margin: 0 6px 12px;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 1px 2px 5px 2px #c4c4c4bf;
}

.extra_skills p {
    margin: 30px 0;
}

@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .child {
        width: 100%;
        max-width: 100%;
    }
    .left_content{
        display: none;
    }
}