.skills_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text_top {
    text-align: center;
    font-size: 25px;
}

.text_top p {
    font-size: 24px;
    color: gray;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.child {
    margin-top: 0px;
    width: 40%;
    max-width: 40%;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
}

iconify-icon {
    font-size: 40px;
    margin: 0 6px 12px;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 1px 2px 5px 2px #c4c4c4bf;
}

.extra_skills p {
    margin: 30px 0;
}


@media (max-width: 1180px) {
    .technologies {
        width: auto;
    }
}

/* #3- Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .child {
        width: 100%;
        max-width: 100%;
    }

    .left_content {
        display: none;
    }

    .technologies {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .text_top {
        font-size: 18px;
    }
}


@media (max-width: 400px) {
    .text_top {
        font-size: 15px;
    }
}