.fontColor {
    color: white;
}

.headerAbout {
    background: linear-gradient(209deg, #2556be 0%, #1eb2ff 50%, #00f1ff 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
    padding-bottom: 280px;
    padding-top: 150px;
}