.header {
    position: absolute;
    width: 100%;
    z-index: 100;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

.container h2 {
    font-family: 'Pinyon Script', cursive;
    font-size: 40px;
}

.container a {
    text-decoration: none;
    color: white;
}

