.container {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.title{
    display: flex;
    align-items: center;
    font-size: 40px;
    color: #00b8c2;
}

.title svg {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

/* #3- Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .container {
        width: auto;
    }
}

@media (max-width: 400px) {
    .title{
        font-size: xx-large;
    }
}