.footer {
    margin: 80px 0 0;
    padding: 30px 0;
    background: linear-gradient(209deg, #2556be 0%, #1eb2ff 50%, #00f1ff 100%);
    height: 450px;
    color: white;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.text{
    display: flex;
    flex-direction: column;
}

.text h1 {
    margin-bottom: 0px;
}

.contacMe a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .5s;
}

.mail:hover{
    color: #2556be;
}

.lottie{
    margin: 0 40px;
}

.socialLinks {
    font-size: 28px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.socialLinks a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    transition: .3s;
}

.socialLinks a:hover {
    color: #2556be;
}

.socialLinks svg{
    transition: transform .3s;
}

.socialLinks svg:hover{
    transform: scale(1.5);
}

button {
    border: none;
    margin: 20px 0px;
    padding: 10px;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    font-weight: bold;
    color: #1eb2ff;
    text-transform: uppercase;
    background-color: white;
    transition: .5s;
}

button:hover {
    cursor: pointer;
    background-color: #2556be;
    color: #00f1ff;
}

button svg {
    width: 20px;
    height: auto;
    vertical-align: bottom;
    margin-right: 8px;
}

.buttons .demo span {
    margin-left: 10px;
}

.buttons button svg {
    width: 22px;
    margin-bottom: -3px;
    height: auto;
    vertical-align: bottom;
}

.form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.element {
    width: 300px;
    margin: 10px 0;
}

.element input, .element textarea{
    border: none;
    width: 300px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.element textarea{
    height: 80px;
}

.element input:focus, .element textarea:focus {
    outline-color: #00f1ff;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.buttons button{
    width: 20%;
    margin: 15px 5px 5px;
    color: black;
    background-color: #2dce89;
}

.contact_btn {
    margin: 20px 0 0;
}

.buttons button:hover{
    background-color: #12af6b;
}

.buttons button:first-child{
    background-color: #e20000;
}

.buttons button:first-child:hover{
    background-color: #ce0101;
}

/* #3- Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .lottie {
        display: none;
    }

    .text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contacMe {
        margin: 0 auto;
    }

    .enviarMail{
        margin: 0 auto;
    }

    .footer{
        height: 350px;
    }

    .socialLinks {
        margin: 10px 0;
    }
}
